.home-page{
    box-sizing: border-box;
    padding: 20px;
    padding-top: 50px;
    .search-bar{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        input, button{
            border: none;
            margin: 4px 0;  
            outline: none;
            padding: 8px 2px;
            color: rgba(0, 0, 0, 0.705);
        }
        input{
            border-bottom: 2px solid rgba(130, 78, 199, 0.63);
            width: 250px;
            padding-left: 20px;
        }
        button{
            background-color: #fff;
            cursor: pointer;
            border-bottom: 2px solid rgba(130, 78, 199, 0.63);
            padding-right: 20px;
        }
        margin-bottom: 50px;
    }
    .home-page-images{
    box-sizing: border-box;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .image-card{
        color: rgba(0, 0, 0, 0.705);
        margin-top: 20px;
        .image-card-with-info{
            box-sizing: border-box;
            padding: 20px;
            img{
                cursor: pointer;
            }
            .image-card-info-area{
                text-align: right;
                width: 100%;
                .tips-area{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    .btns-area{
                        .tip-btn{
                            input{
                                width: 55px;
                                border: none;
                                outline: none;
                                color: rgba(0, 0, 0, 0.705);
                            }
                            button{
                                border: none;
                                outline: none;
                                background-color: rgb(123, 135, 248);
                                color: #fff;
                                box-sizing: border-box;
                                padding: 4px 10px;
                                margin-left: 2px;
                                cursor: pointer;
                                &:hover{
                                    background-color: #fff;
                                    color: rgb(123, 135, 248);
                                }
                            }
                        }
                    }
                }
            }
            &:hover{
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            }
        }
    }
}}